@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;0,700;1,500&display=swap');
.Signup-form{
    width: 360px;
    height: 800px;
    margin-left: 600px;
    border: 1px solid gray;
    align-items: center;
    flex-direction: row;
}
.signup{
    width: 87px;
    height: 36px;
    margin-top: 119px;
    margin-left: 140px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    font-family: Poppins;
}
.rectangle1{
    width: 312px;
    height: 48px;
    margin-left: 24px;
    margin-top: 43px;
    border: 1px solid gray ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: Poppins;
}
#search-input{
    width: 312px;
    border: none;
    outline: none;
    font-size: 12px;
    height: 15px;
}
.rectangle2{
    width: 312px;
    height: 48px;
    margin-left: 24px;
    margin-top: 28px;
    border: 1px solid gray ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: Poppins;
}
.rectangle3{
    width: 312px;
    height: 48px;
    margin-left: 24px;
    margin-top: 28px;
    border: 1px solid gray ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: Poppins;
}
.rectangle4{
    width: 312px;
    height: 48px;
    margin-left: 24px;
    margin-top: 28px;
    border: 1px solid gray ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: Poppins;
}
.eye{
    margin-right: 17px;
}
.rectangle5{
    width: 312px;
    height: 48px;
    margin-top: 29px;
    margin-left: 24px;
    border-top: 2px solid #0E64D2;
    border-right: 2px solid #0E64D2;
    border-bottom: 2px solid #0E64D2;
    border-left: 2px solid #0E64D2;
    border-radius: 5px;
    background-color: #0E64D2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
}
.rectangle5 span{
    color: white;
}
.group1{
    width: 232px;
    height: 22px;
    margin-top: 16px;
    margin-left: 66px;
    display: flex;
    font-family: Poppins;
}
.have-acc{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.login{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color:#2F89FC;
    margin-left: 8px;
    text-decoration: none;
}
a:hover{
    color: #2F89FC;
    text-decoration: underline;
}
.box-or{
    width: 312px;
    height: 21px;
    border: none;
    margin-top: 17px;
    margin-left: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
}
.line{
    width: 139px;
    height: 0px;
    border: 1px solid gray; 
}
.rectangle6{
    width: 312px;
    height: 48px;
    margin-top: 23px;
    margin-left: 24px;
    border-top: 2px solid #1877F2;
    border-right: 2px solid #1877F2;
    border-bottom: 2px solid #1877F2;
    border-left: 2px solid #1877F2;
    border-radius: 10px;
    background-color: #1877F2;
    display: flex;
    align-items: center;
    font-family: Poppins;
}
.fb-logo{
    margin-left: 12px;
}
.login-fb{
    margin-left: 49px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.rectangle6 span{
    color: white;
}
.rectangle7{
    width: 312px;
    height: 48px;
    margin-top: 23px;
    margin-left: 23px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: Poppins;
}
.gg{
    margin-left: 12px;
}
.login-gg{
    margin-left: 60px;
    color: #00000099;
    font-weight: 600;
    line-height: 14px;
}